{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% for content in contents %}

            <h1><a href="{{ path("showContent",{linkPage: content.linkPage}) }}" >{{ content.title }}</a></h1>
            <div>
                {% for cat in content.category %}
                <span class="badge">
                {{ cat.name|striptags|slice(1,4) }}
                </span>
                    {% endfor %}
            </div>
            <p>Typ: {{ content.type }}</p>
        {% endfor %}
    </div>
{% endblock %}