{#{% extends 'base.html.twig' %}#}

{#{% block title %}{{ content.title }}{% endblock %}#}
{#{% block body %}#}

    {#<h1>{{ content.title | raw}}</h1>#}
    {#<h4>{{ content.personCompanies[0]. | raw}}</h4>#}

    {#{% if content.personCompanies.getValues is empty %}#}
        {#Niema typa#}
        {#{% else %}#}
            {#{{ content.personCompanies.getValues[0].person}}#}{# tu jest nazwa autora#}
            {#{{ content.personCompanies.getValues[0].name}}#}{# tu jest nazwa firmy #}
    {#{% endif %}#}

    {#<div>#}
    {#{{ content.contentValue |slice(0,300)| raw }}#}
    {#{% if(content.type.id) == 2 %}#}
        {#<h1>{{ content.type.id }}</h1>#}

        {#<div style="background: antiquewhite; font-size: xx-large">cos {{ include(template_from_string(content.contentValue|replace({"&#39;&#39;": '"'}))) }}</div>#}
    {#{% else %}#}
        {#{{ include(template_from_string(content.contentValue|replace({"&#39;&#39;": '"'}))) }}#}
    {#{% endif %}#}

    {#{{ (content.contentValue|raw) }}#}

    {#{% set text = "<b>trololo" ~ include('content/show2.html.twig') ~ "<p>nic</p>" %}#}
    {#{{ text|raw}}#}
{#</div>#}

    {#{% for relation in content.contentRelation  %}#}
        {#Tu można zrobić casy jeśli relation .type = np wywiad to #}
        {#{{ relation.title }}#}
        {#{% endfor %}#}
{#<h2> Comments ({{ comments|length }})</h2>#}
{#{% for comment in comments %}#}

    {#<li>{{ comment }}</li>#}
{#{% endfor %}#}
{#=======#}
{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}
{% block body %}

    <h1>{{ content.title | raw}}</h1>
    {#<h4>{{ content.person[0]. | raw}}</h4>#}

    {#TODO dodać pętle zeby było wielu autorów#}
    {#{{ dump(content.person.getValues) }}#}
    {% if autorFirma is empty %}
        Niema typa
        {% else %}
            {#Tu jest imie i nazwisko#}
            {{ autorFirma[0].person.name}}
            {{ autorFirma[0].person.surname}}
            {#tu jest firma#}
            {% if autorFirma[0].company is empty %}
                .
            {% else %}
                {{ autorFirma[0].company.name}}
            {% endif %}

    {% endif %}

    <div>
    {#{{ content.contentValue |slice(0,300)| raw }}#}
    {% if(content.type.id) == 2 %}
        <h1>{{ content.type.id }}</h1>

        <div style="background: antiquewhite; font-size: xx-large">cos {{ include(template_from_string(content.contentValue|replace({"&#39;&#39;": '"'}))) }}</div>
    {% else %}
        {{ include(template_from_string(content.contentValue|replace({"&#39;&#39;": '"'}))) }}
    {% endif %}

    {#{{ (content.contentValue|raw) }}#}

    {#{% set text = "<b>trololo" ~ include('content/show2.html.twig') ~ "<p>nic</p>" %}#}
    {#{{ text|raw}}#}
</div>

    {% for relation in content.contentRelation  %}
        {#Tu można zrobić casy jeśli relation .type = np wywiad to #}
        {{ relation.title }}
        {% endfor %}
{#<h2> Comments ({{ comments|length }})</h2>#}
{#{% for comment in comments %}#}

    {#<li>{{ comment }}</li>#}
{#{% endfor %}#}
{#>>>>>>> 17551aedf4b5e86b3c66864e399dec9269a38097#}
{% endblock %}