{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% for content in contents %}

            <h1><a href="{{ path("showContent",{id: content.title}) }}" >{{ content.title }}</a></h1>
            <div>
                {% for cat in content.category %}
                    <span class="badge">
                {{ cat.name }}
                </span>
                {% endfor %}
            </div>
            <p>Typ: {{ content.type }}</p>
        {% endfor %}
    </div>
{% endblock %}