

{% extends 'base.html.twig' %}

{% block body %}

<div>

		<div class="container">
            <div class="call-to-action " style="margin-top: 20px;margin-bottom: 0px; height: 200px; background-image:url(images/parallax/7.jpg)">
				<div class="container">
					
				</div>
			</div>
        </div>
	
	     <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-md-9">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <div class="post-item-description">
										<h2>Lighthouse, standard post with a single image Lighthouse.</h3>
										<h3> standard post with a single image post with a single image post with a single image</h2>
										<p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi. Pellentesque sed nibh a quam accumsan dignissim quis quis urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor dui, dapibus gravida elit. Donec consequat laoreet sagittis. Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet tincidunt. Mauris interdum convallis metus.M</p>
                                        <!---
                                        <a href="images/blog/11.jpg" data-lightbox="gallery-item">
                                            <img alt="image" src="images/blog/11.jpg">
                                        </a>
										--->
                                    
                                        
                                        <div class="post-meta">

                                            <span class="">Artykuł pochodzi z numer Sport&Business 360 Sponsoring</span>
                                            <span>|</span>
											<span class="">Janusz Kozioł</span>
                                            <span>|</span>
											<span class="">Marketing sportowy</span>
											<span>|</span>
											<span class="">CSR, Poland Business Run</span>
											<span>|</span>
											<span>Paweł Zaremba</span>
											
                                            
                                        </div>
                                        <blockquote>
                                            <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
                                            <small>by <cite>Albert Einstein</cite></small>
                                        </blockquote>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor dui, dapibus gravida elit. Donec consequat laoreet sagittis. Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet tincidunt. Mauris interdum convallis metus. Suspendisse vel lacus est, sit amet tincidunt erat. Etiam purus sem, euismod eu vulputate eget, porta quis sapien. Donec tellus est, rhoncus vel scelerisque id, iaculis eu nibh.</p>


                                        <p>Donec posuere bibendum metus. Quisque gravida luctus volutpat. Mauris interdum, lectus in dapibus molestie, quam felis sollicitudin mauris, sit amet tempus velit lectus nec lorem. Nullam vel mollis neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel enim dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt accumsan massa id viverra. Sed sagittis, nisl sit amet imperdiet convallis, nunc tortor consequat tellus, vel molestie neque nulla non ligula. Proin tincidunt tellus ac porta volutpat. Cras mattis congue lacus id bibendum. Mauris ut sodales libero. Maecenas feugiat sit amet enim in accumsan.</p>

										
											<!--call-to-action colored background -->
											<div class="call-to-action call-to-action-dark">
												<div class="row">
													<div class="col-md-3">
														
														<h3>Z artykułu dowiesz się:</h3>
														<span>czas czytania 30 min</span> 
													</div>	
													<div class="col-md-9">
															<ul class="list-icon list-icon-arrow list-icon-colored">
																<li>za co Polacy cenią e-zakupy,</li>
																<li>jak rozumieć branding w e-commerce,</li>
																<li>co decyduje o zakupie w sklepie internetowym,</li>
																<li>jakie aspekty brandingu e-sklepu mają szczególne znaczenie na polskim rynku,</li>
																<li>jak sprawić, aby relacja z marką w e-commerce była jak najsilniejsza,</li>
																<li>o jakie kluczowe elementy związane z tworzeniem treści dla e-sklepu warto zadbać.</li>
															</ul>
															
														
													</div>
												</div>
											</div>
											<!--END: call-to-action colored background -->
										

                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       
														
										<div class="">
											<div class="row">
												<div class="col-md-8 m-b-100 m-t-100  center">
													<div class="heading section-title">
														<h2 class="m-b-20">Artykuł dostępny dla prenumeratorów</h2>
														<p>Ten artykuł pochodzi z zamkniętych źródeł<br>Sport&Business 360</p>
													</div>
													<br>
													<form class="form-inline  text-center">
														<div class="row">
															<div class="form-group">
																
																<div class="input-group ">
																	<input type="text" class="form-control" id="exampleInputAmount" placeholder="Login">
																	
																	
																</div>
																<div class="input-group ">
																	<input type="text" class="form-control" id="exampleInputAmount" placeholder="*******">
																	
																</div>
															</div>
															
														</div>
														
														<div class="row  m-t-5">
															<button type="submit" class="btn btn-default">Zaloguj się</button>
														</div>
														<div class="row">
															<br>
															<a href="#"><small>Lost your Password?</small></a>
														</div>
															
													</form>
												</div>
											</div>
										</div>
      									

									   <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       


 <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                      
											
											
											<div class="panel panel-default" style="width: 50%; border-color: white; float: right;  clear: both;">
												<div class="panel-heading" style="font-size:14px; color: white; background-color: black;">
												<b>Wykres 1  </b></div>
												<div class="panel-body" style="padding-left: 20px;">
													Wpływ czgoś tam na coś tam bo tak
													<img src="https://static1.squarespace.com/static/56ebfb6a07eaa0a2a553e01a/t/585a6333579fb3abe8142896/1482318644848/wykres+ko%C5%82owy+zadowoloenia+z+%C5%BCycia.JPG?format=750w">
												</div>
												<div class="panel-heading" style="padding: 0px; padding-left: 20px; font-size:9px;">
													Źródło: Duis vestibulum quis quam vel accumsan.
												</div>
											</div>
											<div class="panel panel-default" style="width: 50%; border-color: white; float: right;  clear: both;">
												<div class="panel-heading" style="font-size:14px; color: white; background-color: black;">
												<b>Grafika 1  </b></div>
												<div class="panel-body" style="padding-left: 20px;">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
												</div>
												<div class="panel-heading" style="padding: 0px; padding-left: 20px; font-size:9px;">
													Źródło: Duis vestibulum quis quam vel accumsan.
												</div>
											</div>
											<div class="panel panel-default" style="width: 100%; border-color: white; float: right;  clear: both;">
												<div class="panel-heading" style="font-size:14px; color: white; background-color: black;">
												<b>Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 Grafika 1 </b></div>
												<div class="panel-body" style="padding-left: 20px;">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
												</div>
												<div class="panel-heading" style="padding: 0px; padding-left: 20px; font-size:9px;">
													Źródło: Duis vestibulum quis quam vel accumsan.
												</div>
											</div>
											
										

										<p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
										
										
											<div class="panel panel-default" style="width: 50%; float: right;  clear: both;">
												<div class="panel-heading">Wykres 1</div>
												<div class="panel-body">
													<img alt="image" src="images/blog/11.jpg">
												</div>
												<div class="panel-heading">Źródło: Duis vestibulum quis quam vel accumsan.</div>
											</div>
										


										<p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
											<div class="panel panel-default" style="width: 100%; float: right;  clear: both;">
												<div class="panel-heading">Wypowiedź eksperta</div>
												<div class="panel-body">
													<p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
													<p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
													{{'
													<p>testowe testoweDuis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
													'[10:]}}
												</div>
												<div class="panel-heading">Źródło: Duis vestibulum quis quam vel accumsan.</div>
											</div>
										
										
											<div class="call-to-action background-image" style="clear: both; height: 250px; background-image:url(images/blog/11.jpg)">
												<div class="col-md-7">
													<h3 class="text-light">Tekst pochodzi <br> z numeru 1(32) 2018 </h3>
													
													
													<a class="btn btn-light btn-outline">Kup wydanie</a>
													<a class="btn btn-info">Strona wydania</a>
													
												</div>
											
											</div>
										
										
										
										
										
										

                                    </div>
									
                                    <div class="post-tags">
                                        <a href="#">Life</a>
                                        <a href="#">Sport</a>
                                        <a href="#">Tech</a>
                                        <a href="#">Travel</a>
                                    </div>
									
									<!--  PRZYCISK NASTĘPNEGO LUB POPRZEDNIEGO ARTYKUŁ€
                                    <div class="post-navigation">
                                        <a href="blog-single.html" class="post-prev">
                                            <div class="post-prev-title"><span>Previous Post</span>Standard post with a single image</div>
                                        </a>
                                        <a href="blog-masonry-3.html" class="post-all">
                                            <i class="fa fa-th"></i>
                                        </a>
                                        <a href="blog-single-video.html" class="post-next">
                                            <div class="post-next-title"><span>Next Post</span>Post with YouTube Video</div>
                                        </a>
                                    </div>
									-->
                                    
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>

                    </div>
                    <!-- end: content -->

                    <!-- Sidebar-->
                    <div class="sidebar col-md-3">
                        <div class="pinOnScroll">
                            <!--widget newsletter-->
							
							
							<div class="">
								<h5>O Autorze</h5>
								<img src="http://sb360.pl/images/autor/ansz.jpg" style="float: left; width: 100px; margin-right: 10px; marign-bottom: 10px; ">
								
								<span>Paweł Zaremba</span>
								<span class="">Marketing</span>
								<span class="">CSR, Poland Business Run</span>
								
								
							
								<div class="" style="clear: both;">
									<p>
									Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”.
									</p>
								</div>
							</div>
							
							
							
							<div class="">
								<h5>O Autorze</h5>
								<img src="http://sb360.pl/images/autor/ansz.jpg" style="float: left; width: 100px; margin-right: 10px; marign-bottom: 10px; ">
								
								<span>Paweł Zaremba</span>
								<span class="">Marketing</span>
								<span class="">CSR, Poland Business Run</span>
								
								
							
								<div class="" style="clear: both;">
									<p>
									Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”.
									</p>
								</div>
							</div>
							
							
                            <div class="widget  widget-newsletter">

                                
                            </div>
                            <!--end: widget newsletter-->


                        </div>
                    </div>
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
		
	
	
</div>
<!-- end: Wrapper -->

    
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
	