<!DOCTYPE html>
<html lang="en">
{{ dump() }}
<head>
    <title>{% block title %}Magazyn SportBusines 360{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="{{ asset("css/plugins.css" ) }}" rel="stylesheet">
        <link href="{{ asset("css/style.css" ) }}" rel="stylesheet">
        <link href="{{ asset("css/responsive.css" ) }}" rel="stylesheet">

    {% endblock %}


	<!--

.d88888b   888888ba   .88888.   888888ba  d888888P
88.    "'  88    `8b d8'   `8b  88    `8b    88
`Y88888b. a88aaaa8P' 88     88 a88aaaa8P'    88
      `8b  88        88     88  88   `8b.    88
d8'   .8P  88        Y8.   .8P  88     88    88
 Y88888P   dP         `8888P'   dP     dP    dP
ooooooooooooooooooooooooooooooooooooooooooooooooooo

 888888ba  dP     dP .d88888b  dP  88888888b 888888ba  .d88888b  .d88888b
 88    `8b 88     88 88.    "' 88  88        88    `8b 88.    "' 88.    "'
a88aaaa8P' 88     88 `Y88888b. 88 a88aaaa    88     88 `Y88888b. `Y88888b.
 88   `8b. 88     88       `8b 88  88        88     88       `8b       `8b
 88    .88 Y8.   .8P d8'   .8P 88  88        88     88 d8'   .8P d8'   .8P
 88888888P `Y88888P'  Y88888P  dP  88888888P dP     dP  Y88888P   Y88888P
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

d8888b. .d8888P  a8888a
    `88 88'     d8' ..8b
 aaad8' 88baaa. 88 .P 88
    `88 88` `88 88 d' 88
    .88 8b. .d8 Y8'' .8P
d88888P `Y888P'  Y8888P
ooooooooooooooooooooooooo

-->

</head>

<body>
<div id="wrapper" >

    <!-- Topbar -->
    <div id="topbar" class="visible-md visible-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <ul class="top-menu">
                        <li><a href="#">MAGAZYN</a></li>
                        <li><a href="#">REKLAMA</a></li>
                        <li><a href="#">PARTNERSTWO</a></li>
                        <li><a href="#">KONTAKT</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <div class="social-icons social-icons-colored-hover">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end: Topbar -->

    <!-- Header -->
    <header id="header" class="header-dark dark">
        <div id="header-wrap">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a href="{{ path('app_homepage') }}" class="logo" data-dark-logo="/images/logo-dark.png">
                        <img src="{{ asset('images/logo-white.png') }}" alt="Polo Logo">
                    </a>
                </div>
                <!--End: Logo-->


                <!---- SPRAWDZIĆ CO TO ---------------------- ------------------------ ---------------------- ------------------------>


                <div class="header-extras">
                    <ul>
                        <li class="hidden-xs">
                            <!--shopping cart-->
                            <div id="shopping-cart">
                                <a href="shop-cart.html">
                                    <span class="shopping-cart-items">8</span>

                                    <i class="fa fa-shopping-cart"></i></a>
                            </div>

                            <!--end: shopping cart-->
                        </li>
                        <li>
                            <div class="topbar-dropdown">
                                <a class="title"><i class="fa fa-lock"></i></a>
                                <div class="dropdown-list">
                                    {% if is_granted('ROLE_USER') %}
                                    <a class="list-entry" href={{ path('account') }}>Moje konto</a>
                                    <a class="list-entry" href={{ path('security_logout') }}>Wyloguj się</a>
                                    {% else %}
                                    <a class="list-entry" href={{ path('security_login') }}>Zaloguj się</a>
                                    <a class="list-entry" href={{ path('register') }}>Załóż konto</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>



                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger">
                    <button class="lines-button x"> <span class="lines"></span> </button>
                </div>
                <!--end: Navigation Resposnive Trigger-->

                <!---- SPRAWDZIĆ CO TO ------------------------------------ ------------------------ -------- KONIEC------------------------ >

                <!--Navigation-->
                <div id="mainMenu" >
                    <div class="container">
                        <nav>
                            <ul>
                                <li><a href="#">Wydania</a></li>
                                <li><a href="#">Sklep</a></li>
                                <li><a href="#">Wydarzenia</a></li>

                                <li class="dropdown mega-menu-item"><a href="#">Twój SB360 <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
                                    <ul class="dropdown-menu">
                                        <li class="mega-menu-content">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <ul>
                                                            {% for category in categories %}
                                                            <li> <a href="{{ path('listContentCategory',{id:category.id})}}"><i class="fa fa-{{ category.icon }}"></i>{{ category.name }}</a> </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <ul>

                                                            <li> <a href="shop-columns-4.html"><i class="fa fa-futbol-o"></i>Marketing sportowy</a> </li>
                                                            <li> <a href="shop-columns-5.html"><i class="fa fa-handshake-o"></i>Sponsoring</a> </li>
                                                            <li> <a href="shop-columns-2.html"><i class="fa fa-users"></i>Klub Biznesu</a> </li>
                                                            <li> <a href="shop-columns-3.html"><i class="fa fa-ticket"></i>Infrastruktura sportowa</a> </li>

                                                            <li> <a href="shop-columns-5.html"><i class="fa fa-shopping-cart"></i>Sklep kibica</a> </li>
                                                            <li> <a href="shop-columns-6.html"><i class="fa fa-graduation-cap"></i>Kuźnia managerów</a> </li>
                                                            <li> <a href="shop-sidebar-sticky.html"><i class="fa fa-flag-checkered"></i>Organizacja imprez</a><br><br></li>

                                                            <li>
                                                                <div class="social-icons social-icons-colored-hover">
                                                                    <ul>
                                                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 ">
                                                        <ul>
                                                            <li> <a href={{ path('security_login') }}>Załóż konto</a> </li>
                                                            <li> <a href={{ path('security_login') }}>Zaloguj się</a><br> </li>
                                                            <li> <a href="shop-cart.html">Biblioteczka</a><br> </li>
                                                            <li> <a href="shop-cart.html">Sklep</a> </li>
                                                            <li> <a href="shop-cart.html">Prenumerata</a> <br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <!--end: Navigation-->

            </div>
        </div>
    </header>
    <!-- end: Header -->



    <!-- SLIDER  ŚWIĘTA
    <section id="slider" class="fullscreen background-image" style="background-image:url(homepages/holiday/images/1.jpg);">
        <div class="container">
            <div class="container-fullscreen text-center">
                <div class="text-middle">
                    <h3 data-animation="fadeInDown" data-animation-delay="600" class="text-dark">Redakcja SB360 życzy wszystkim czytelnikom</h3>
                    <h1 data-animation="fadeInDown" data-animation-delay="500" class="text-large" style="color:#e52a2d !important;">Wesołych Świąt</h1>
                    <div data-animation="fadeInDown" data-animation-delay="600"> <a class="btn btn-dark" href="#"><span>Odbierz prezent</span></a> </div>
                    <div class="scrolldown-animation" id="scroll-down"> <a class="scroll-to" href="#easy-fast"><img src="images/scrolldown.png" alt=""> </a> </div>
                </div>
            </div>
        </div>
    </section>
    end: SLIDER -->






    <!-- Page Menu -->
    <div class="page-menu menu-lines">
        <div class="container">
            <div class="menu-title">Twój SB360</div>
            <nav>
                <ul>
                    <li><a href="#">Biblioteczka</a> </li>
                    <li><a href="page-menu.html">Ulubione</a> </li>
                    <li><a href="page-menu-outline.html">Zamówienia</a> </li>
                    <li class="active"><a href="page-menu-lines.html">Ustawienia profilu</a> </li>
                </ul>
            </nav>

            <div id="menu-responsive-icon">
                <i class="fa fa-reorder"></i>
            </div>

        </div>
    </div>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}

    <footer id="footer" class="footer-light">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Footer widget area 1 -->
                        <div class="widget  widget-contact-us" style="background-image: url('/images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat">
                            <h4>About POLO</h4>
                            <ul class="list-icon">
                                <li><i class="fa fa-map-marker"></i> 795 Folsom Ave, Suite 600 <br>
                                    San Francisco, CA 94107</li>
                                <li><i class="fa fa-phone"></i> (123) 456-7890 </li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:first.last@example.com">first.last@example.com</a> </li>
                                <li> <br>
                                    <i class="fa fa-clock-o"></i>Monday - Friday: <strong>08:00 - 22:00</strong> <br>
                                    Saturday, Sunday: <strong>Closed</strong> </li>
                            </ul>
                            <!-- Social icons -->
                            <div class="social-icons social-icons-border float-left m-t-20">
                                <ul>
                                    <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <!-- end: Social icons -->
                        </div>
                        <!-- end: Footer widget area 1 -->
                    </div>
                    <div class="col-md-2">
                        <!-- Footer widget area 2 -->
                        <div class="widget">
                            <h4>Quick LInks</h4>
                            <ul class="list-icon list-icon-arrow">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Shortcodes</a></li>
                            </ul>
                        </div>
                        <!-- end: Footer widget area 2 -->
                    </div>
                    <div class="col-md-3">
                        <!-- Footer widget area 3 -->
                        <div class="widget">
                            <h4>Latest From Our Blog</h4>
                            <div class="post-thumbnail-list">
                                <div class="post-thumbnail-entry">
                                    <div class="post-thumbnail-content">
                                        <a href="#">Suspendisse consectetur fringilla luctus</a>
                                        <span class="post-date"><i class="fa fa-clock-o"></i> 6m ago</span> <span class="post-category"><i class="fa fa-tag"></i> Technology</span> </div>
                                </div>
                                <div class="post-thumbnail-entry">
                                    <div class="post-thumbnail-content">
                                        <a href="#">Consectetur adipiscing elit</a>
                                        <span class="post-date"><i class="fa fa-clock-o"></i> 24h ago</span> <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span> </div>
                                </div>
                                <div class="post-thumbnail-entry">
                                    <div class="post-thumbnail-content">
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                        <span class="post-date"><i class="fa fa-clock-o"></i> 11h ago</span> <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span> </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: Footer widget area 3 -->
                    </div>
                    <div class="col-md-3">
                        <!-- Footer widget area 4 -->
                        <div class="widget widget-tweeter" data-username="ardianmusliu" data-limit="2">
                            <h4>Recent Tweets</h4>
                        </div>
                        <!-- end: Footer widget area 4 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2017 POLO -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
            </div>
        </div>
    </footer>

</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset ("js/plugins.js") }}"></script>

    <!--Template functions-->
    <script src="{{ asset('js/functions.js') }}"></script>

{% endblock %}
</body>
</html>

