

{% extends 'base.html.twig' %}

{% block body %}

<div>




	
	
	
	
	<!-- panel urzytkownika -->
        <section id="section3">
            <div class="container">
                <div class="row">
					
					
					<div class="row">
						<div class="col-md-12">
							<div class="text-center m-b-20"><h4>MAGAZYNY</h4></div>
						</div>
					</div>
										
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="carousel team-members team-members-shadow" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="4" data-items-xxs="2" data-equalize-item=".testimonial-item">
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="images/sb360_1-dokupienia.jpg">
										</div>
										<div class="grid-description">
											<a class="" data-target="#modalText" data-toggle="modal" href="#"><i class="fa fa-info"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				
					
				</div>
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive topminus"  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
					
				<div class="row">
										
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="carousel equalize testimonial testimonial-box" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="3" data-items-xxs="2" data-equalize-item=".testimonial-item">
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg"></a>
								</div>
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_3.jpg"></a>
								</div>
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="images/sb360_1-dokupienia.jpg"></a>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				
					
				</div>
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive  "  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="text-center m-b-20"><h4>DODATKI Z MAGAZYNU</h4></div>
					</div>
				</div>
										
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="carousel equalize testimonial testimonial-box" data-dots="false" data-margin="10" data-arrows="true" data-items="5" data-items-sm="3" data-items-xxs="2" data-equalize-item=".testimonial-item">
							<div>
								<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_1.jpg"></a>
							</div>
							<div>
								<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg"></a>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
                </div>
				
				
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive "  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
				
            </div>
        </section>
	<!-- panel urzytkownika -->
	
	
	{% include 'patronaty.html.twig' %}
	

</div>
<!-- end: Wrapper -->

    <!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
	