
{{ dump() }}
{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

{#<div>#}



	{##}
	{#<!-- Page title -->#}
        {#<section id="page-title" class="page-title-classic">#}
            {#<div class="container">#}
                {#<div class="row">#}
					{#<div class="col-md-9">#}
						{#<div class="icon-box medium fancy">#}
							{#<div class="icon"> <i class="fa fa-heart"></i></div>#}
							{#<h1>CSR w sporcie </h1>#}
							{#<p>DLACZEGO JEST TAK WAŻNY ?<BR> Bardzo ważna bo coś tam coś tam.Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque. </p>#}
							{#<p>CO JEST WAŻNE ?<BR>Pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>#}
							{##}
						{#</div>#}
					{#</div>#}
					{#<div class="col-md-3">#}
						{##}
					{#</div>#}
				{#</div>#}
            {#</div>#}
        {#</section>#}
        {#<!-- end: Page title -->#}
	{##}
	{##}
	{##}
	{##}
	{##}
	{##}
	{##}
		{##}
		{##}
    {#</div>#}
    {#<!-- end: Wrapper -->#}

    {#<!-- Go to top button -->#}
{#<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>#}
{#<!--Plugins-->#}
 {#<script src="js/jquery.js"></script>#}
 {#<script src="js/plugins.js"></script>#}

{#<!--Template functions-->#}
 {#<script src="js/functions.js"></script> #}


{#{% endblock %}#}
	