{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <section id="section3">
            <div class="container">
                <div class="row">


                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="text-center p-b-100">
                                <div class="text-left">
                                    <div class="text-medium-light m-b-20">Dołącz do społeczności Sport&Business <br> <b>Twój SB360</b> to dostęp do <b><span class="text-rotator morphext" data-rotate-effect="flipInX"><span class="animated flipInX">wiedzy, doświadczenia, trendów, case study, raportów, analiz, kontkatów</span></span></b>
                                    </div>
                                    <p class="lead">And any text can be animated simply by changing an effect name, more info in Documentation!</p>
                                </div>
                                <br>
                                <div class="col-md-12 ">
                                    <form class="form-inline">
                                        <div class="form-group">

                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-envelope  "></i></div>
                                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Adres email">
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-danger">Załóż darmowe konto</button>
                                        <Br>

                                        <a href="#"><small>Mam już konto. Chcę się zalogować </small></a>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="carousel team-members team-members-shadow" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="4" data-items-xxs="2" data-equalize-item=".testimonial-item">
                                {% for product in products %}
                                <div class="grid-item">
                                    <div class="grid-item-wrap">
                                        <div class="grid-image">
                                            <img alt="Raport" class="img-responsive img-thumbnail buy"  src="{{ product.cover }}">
                                        </div>
                                        <div class="grid-description">
                                        <a href="{{ path('listContentProduct', {id:product.id })}}" ><i class="fa fa-book"></i></a>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}

                                {#<div class="grid-item">#}
                                    {#<div class="grid-item-wrap">#}
                                        {#<div class="grid-image">#}
                                            {#<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_1.jpg">#}
                                        {#</div>#}
                                        {#<div class="grid-description">#}
                                            {#<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>#}
                                        {#</div>#}

                                    {#</div>#}
                                {#</div>#}

                                {#<div class="grid-item">#}
                                    {#<div class="grid-item-wrap">#}
                                        {#<div class="grid-image">#}
                                            {#<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_3.jpg">#}
                                        {#</div>#}
                                        {#<div class="grid-description">#}
                                            {#<a class="" data-target="#modalText" data-toggle="modal" href="#"><i class="fa fa-info"></i></a>#}
                                        {#</div>#}

                                    {#</div>#}
                                {#</div>#}

                                {#<div class="grid-item">#}
                                    {#<div class="grid-item-wrap">#}
                                        {#<div class="grid-image">#}
                                            {#<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_2.jpg">#}
                                        {#</div>#}
                                        {#<div class="grid-description">#}
                                            {#<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}

                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <img alt="Raport" class="img-responsive topminus"  src="images/deska.png">
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>





            </div>
        </section>
    </div>
{% endblock %}