

{% extends 'base.html.twig' %}

{% block body %}


<div>



<!-- panel urzytkownika -->
        <section id="section3">
            <div class="container">
               
					
					
					<div class="row">
						<div class="col-md-12 col-md-offset-1">		
							<div class="text-center p-b-100">
								<div class="text-left">
									<div class="text-medium-light m-b-20">Dołącz do społeczności Sport&Business 360 <br> <b>Twój SB360</b> to dostęp do <b><span class="text-rotator morphext" data-rotate-effect="flipInX"><span class="animated flipInX">wiedzy, doświadczenia, trendów, case study, raportów, analiz, kontkatów</span></span></b>
									</div>
									<p class="lead">And any text can be animated simply by changing an effect name, more info in Documentation!</p>
								
								<br>
														
									
										
										
										<button type="submit" class="btn btn-danger">Załóż darmowe konto</button>
										<Br>						
										<a href="#"><small>Mam już konto. Chcę się zalogować </small></a>
							
								</div>
								
							</div>
							
						</div>
					</div>
					<!--			
					<div class="row">
						
						<div class="col-md-12">
							<div class="carousel team-members team-members-shadow" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="4" data-items-xxs="2" data-equalize-item=".testimonial-item">
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a class="" data-target="#modalText" data-toggle="modal" href="#"><i class="fa fa-info"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
									</div>
								</div>
								
							</div>
							</div>
						
						</div>
					
						http://sb360.pl/images/sb360_2.jpg
					</div>
					-->
				
				
				
						<div class="row flexcss">
							<div class="col-md-2 box">
							</div>
							<div class="col-md-2 box">
								<div>
									<img src="http://sb360.pl/images/sb360_2.jpg" style="width: 100%; margin-top: 10px; ">
								
								</div>
								
							</div>
							
							<div class="col-md-2 box">
								<div>
									<img src="http://sb360.pl/images/sb360_2.jpg" style="width: 100%; margin-top: 10px; ">
								</div>
								
							</div>
							<div class="col-md-2 box">
								<div>
									<img src="http://sb360.pl/images/sb360_2.jpg" style="width: 100%; margin-top: 10px; ">
								
								</div>
								
							</div>
							<div class="col-md-2 box">
								<div>
									<img src="http://sb360.pl/images/sb360_2.jpg" style="width: 100%; margin-top: 10px; ">
								
								</div>
								
							</div>
							<div class="col-md-2 box">
							</div>
							

						</div>
				
				
					
						<div class="row flexcss">
							<div class="col-md-1 box">
							</div>
							<div class="col-md-10 box">
								<div>
									<img alt="" class="img-responsive topminus"  src="images/deska.png">
								
								</div>
								
							</div>
							
					
							<div class="col-md-1 box">
							</div>
							

						</div>
				
				
				
				
				
				
				
				
				
				
				
				
            </div>
        </section>
	<!-- panel urzytkownika -->
	
	
	









		<!-- dział  -->
		<section id="section3" class="background-grey">
            <div class="container ">

				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div>
							<img src="https://marketerplus.pl/wp-content/uploads/2018/07/marketer-zarzadzanie-produktem_ok-330x427.png" style=" width: 100%; margin-top: 10px;">				
						</div>
					</div>
					<div class="col-md-9 box">
						
						<div class="row flexcss">
							<div class="col-md-4 box">
								<div>
									<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px; ">
								
								</div>
								<div>
									<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
									
									<span>Mateusz Janusz</span>
									<span>|</span>
									<span class="kategoria">SAP</span>
									
											
										
								</div>
							</div>
							
							<div class="col-md-4 box">
								<div>
									
								</div>
								<div>
									<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
									
									<span>Mateusz Janusz</span>
									<span>|</span>
									<span class="kategoria">SAP</span>
									
									
								</div>
							</div>
							<div class="col-md-4 box">
								<div>
									<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px;  ">
								
								</div>
								<div>
									<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
									
									<span>[autor]Mateusz Janusz</span>
									<span>|</span>
									<span class="kategoria">[kategoria]SAP</span>
									
									
								</div>
							</div>
							
							

						</div>
						<div class="row flexcss">
			
							<div class="col-md-6 box">
								<div>
									<h3>Najnowszy numer</h3>
									<span>Marketing Sportowy[tytuł numeru]</span>				
								</div>
							</div>

						</div>
					</div>
					
					
				</div>
				
				
			</div>
		</section>

		
		
	
		
		
		
		
		    <div class="call-to-action background-grey " style="margin-top: 20px;margin-bottom: 0px; "><!--background-image:url(images/parallax/7.jpg)-->
				<div class="container">
					<div class="row flexcss">
						<div class="col-md-12 ">
							
							<img src="images/sb360/sb2018/09.jpg" style="width: 300px;  margin-bottom: 10px; float: right;">
							<h4>[Tytuł1]Skuteczność mediów społecznościowyc
									<br>[tytuł2]czyli kuteczność mediów społecznościowych nad zwykłymi mediami</h4>
									<span>[autor]Mateusz Janusz</span><br>
									<span class="kategoria">[kategoria]SAP</span>
							
							<p>
							II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>

							<a class="btn btn-dark" style="float: right;">Więcej</a>
							
						</div>
						<div class="col-md-3 ">
							
							
						</div>
					</div>
				</div>
			</div>



			
			
			<!--  artykuły  -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5> BANK WIEDZY SPORT&BUSINESS  </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-rocket"></i></div>
							<h4>Rozwój kariery</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
						<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-map-signs"></i></div>
						<h4>Dwutorowość kariery</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-money"></i></div>
						<h4>Formy finansowania</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-line-chart"></i></div>
						<h4>Zarządzanie organizacją</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-users"></i></div>
						<h4>Klub biznesu</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-handshake-o"></i></div>
						<h4>Sponsoring sportowy</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-briefcase"></i></div>
						<h4>Pzyskiwanie sponsorów</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-video-camera"></i></div>
						<h4>Marketing sportowy</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-bank"></i></div>
						<h4>Sport w samorządach</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-futbol-o"></i></div>
						<h4>Infrastruktura sportowa</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-balance-scale"></i></div>
						<h4>Prawo i księgowość</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-star"></i></div>
						<h4>PR i współpraca z mediami</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-heart"></i></div>
						<h4>CSR oraz crowdfunding</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-shopping-cart"></i></div>
						<h4>Sklep kibica</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-graduation-cap"></i></div>
						<h4>Kuźnia managerów</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					
					<a href="alejaja.html">
						<div  class="col-4 col-md-3 icon-box medium fancy box2">
							<div>
								<div class="icon"> <i class="fa fa-flag-checkered"></i></div>
							<h4>Organizacja wydarzeń</h4>
							</div>
							<div>
								<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
								<hr>
							</div>
						</div>
					</a>
				
					
					
					
					
				</div>
			
			</div>
        </section>
	
	
	
	
	
	
	
	
	
	
	
			
			
			
			
			
			
			
			
			
			
		<!-- dział  -->
		<section id="section3" class="">
            <div class="container ">
				<div class="heading text-left">
					<hr>
					<h3>SB360 Poleca </h3>
					<hr>
				</div>
				<div class="row flexcss">
			
					<div class="col-md-6 box">
						<div>
							<a href="{{ path('sportbiz2018') }}"><h4>Dni Biznesu w Sporcie</h4></a>  
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
							
							<p>
							II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>

							
							<hr>
						</div>
						<div>
							<img src="http://www.sportbizforum.com/images/SportBiz2018en.png" style="width: 50%;  margin-bottom: 10px;">
							
						</div>
						
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/05.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Jeremy Edwards</span>
							<span>|</span>
							<span class="kategoria">ACTIVATIVE</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/12.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Nigel Fletcher</span>
							<span>|</span>
							<span class="kategoria">ISCC</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					
				</div>
				<div class="row flexcss">
			
					
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/11.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Jeremy Edwards</span>
							<span>|</span>
							<span class="kategoria">ACTIVATIVE</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/03.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Nigel Fletcher</span>
							<span>|</span>
							<span class="kategoria">ISCC</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/02.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Jeremy Edwards</span>
							<span>|</span>
							<span class="kategoria">ACTIVATIVE</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="images/sb360/sb2018/01.jpg" alt="" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Nigel Fletcher</span>
							<span>|</span>
							<span class="kategoria">ISCC</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					
				</div>
				
			</div>
		</section>
	
	

		<!-- dział  -->
		<section id="section3" class="">
            <div class="container ">
				<div class="heading text-left">
					<hr>
					<h3>Patronat SB360</h3>
					<hr>
				</div>
				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div>
							<img src="http://www.forum-ekonomiczne.pl/wp-content/uploads/2017/04/FE_PL_small.png" style="width: 70%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<a href="{{ path('sportbiz2018') }}"><h4>Dni Biznesu w Sporcie</h4></a>  
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
							
							<p>
							 II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							 </p>						
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DynRASXPS/7/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Mateusz Janusz</span>
							<span>|</span>
							<span class="kategoria">SAP</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Mateusz Janusz</span>
							<span>|</span>
							<span class="kategoria">SAP</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Skuteczność mediów społecznościowych nad zwykłymi mediami</h4>
							
							<span>Mateusz Janusz</span>
							<span>|</span>
							<span class="kategoria">SAP</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. 
							</p>		
								
						</div>
					</div>
					
				</div>
				
				
				
			</div>
		</section>
	
	
	
<section class="background-grey">
	<div class="container">
		<div class="rowcarousel-description-clients carousel-description-style ">
            <div class="col-md-4">
                <div class="description">
                    <h2>RAPORTY BRANŻOWE</h2>
					<p>Przygotowe przez partnerów Sport&Business. Nullam vulputate euis od urna non pharetra. Phasellus bland matt is ipsum, ac laoreet lorem lacinia et. interum sit amet dui.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="carousel equalize testimonial testimonial-box" data-margin="10" data-arrows="true" data-items="3" data-items-sm="3" data-items-xxs="1" data-equalize-item=".testimonial-item">
					<div>
						<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/07/Deloitte-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym </h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/07/Lotto-Ekstraklasa-1-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2017/09/Trefl-Gda%C5%84sk-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>

                </div>
            </div>

        </div>

	</div>
</section>

	
	<!-- SERVICES -->
        <section class="text-light" style="background: transparent url(images/polygon/1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-4" >
                            <div class="heading heading text-left">
                                <h1 class="text-medium">BANK WIEDZY </h1>
								
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <i class="fa fa-map-signs"></i>
                                    </div>
                                    <h3>Co po karierze sportowej</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-users"></i></a>
                                    </div>
                                    <h3>Prowadzenie klubu biznesu</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-hashtag"></i></a>
                                    </div>
                                    <h3>Marketing sportowy</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>

                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3>Technologia w sporcie</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-handshake-o"></i></a>
                                    </div>
                                    <h3>Sponsoring</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-ticket"></i></a>
                                    </div>
                                    <h3>Infrastruktura sportowa</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SERVICES -->
	
	
	
	
	
	
	
	
	
	<!-- wydarzenia - patronat -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				
				<h5><i class="fa fa-play"></i> SYLWETKI SPORT&BUSINESS </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="https://d-pt.ppstatic.pl/k/r/1/85/10/58b1267b7574b_p.jpg?1488052297" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Janusz Polaczek</h4>
							<span class="kategoria">PREZES ZARZĄDU</span>
							
							<p>
							 II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki.
							 </p>						
						</div>
					</div>
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="https://cdn.galleries.smcloud.net/t/photos/gf-tFFe-PXhu-sU82_mateusz-kusznierewicz.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Mateusz Kusznierewicz</h4>
							<span class="kategoria">MISTRZ OLIMPIJSKI</span>
						
							<p>
							 Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów 
							</p>					
						</div>
					</div>
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="http://cdn.innpoland.pl/f681062599a1c3bc6a58554486ec9ee2,780,0,0,0.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Igor Klaja</h4>
							
							<span class="kategoria">4F PREZES ZARZĄDU</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>		
								
						</div>
					</div>
					
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="http://img.interia.pl/biznes/nimg/u/0/CCC_zaklada_wzrost_ponad_6857839.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Mariusz Miłek</h4>
							<span class="kategoria">CCC PREZES ZARZĄDU</span>
						
							<p>
							 W dniach 10-12 listopada 2017 r. w Łodzi odbędzie się największy w Polsce zjazd firm rodzinnych.
							</p>						
						</div>
					</div>
				</div>
			</div>
        </section>
	
	
	
	
	
	
	
	
		
	
	<!-- OPINIE - BLOGERZY SB360 -->
        <section class="background">
			
            <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading text-left">
							<hr>
							<h5>OPINIE - BLOGERZY SB360</h5>
							<hr>
						</div>
					</div>
				</div>
				
                 <!-- Testimonials -->
                <div class="carousel equalize testimonial testimonial-box" data-margin="10" data-arrows="true" data-items="4" data-items-sm="2" data-items-xxs="1" data-equalize-item=".testimonial-item">


                    <!-- Testimonials item -->
					{#{% for opinion in opinions %}#}
					{#<a href="#">#}
                    {#<div class="testimonial-item">#}
						{#<img src="http://sb360.pl/images/autor/pach.jpg" alt="">#}
						{#<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>#}
                        {#{% for categor in opinion.personCompanies %}#}
						{#<span>{{ categor.person.name  }} {{  categor.person.surname }}</span>#}
							{#<span>{{ categor.position }}</span>#}
                        {#{% endfor %}#}

                    {#</div>#}
					{#</a>#}
                    {#<!-- end: Testimonials item-->#}
					{#{% endfor %}#}
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/bade.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/ansz.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/jalo.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/mija.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/kaku.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					

                </div>
                <!-- end: Testimonials -->
            </div>
        </section>
        <!-- end: OPINIE - BLOGERZY SB360 -->
	
	
	
		
		
</div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
	