

{% extends 'base.html.twig' %}

{% block body %}

<div>




<!-- panel urzytkownika -->
        <section id="section3">
            <div class="container">
                <div class="row">
					
					
					<div class="row">
							<div class="col-md-12 col-md-offset-1">		
							<div class="text-center p-b-100">
								<div class="text-left">
									<div class="text-medium-light m-b-20">Dołącz do społeczności Sport&Business 360 <br> <b>Twój SB360</b> to dostęp do <b><span class="text-rotator morphext" data-rotate-effect="flipInX"><span class="animated flipInX">wiedzy, doświadczenia, trendów, case study, raportów, analiz, kontkatów</span></span></b>
									</div>
									<p class="lead">And any text can be animated simply by changing an effect name, more info in Documentation!</p>
								</div>
								<br>
								<div class="col-md-12 ">							
									<form class="form-inline">
										<div class="form-group">
											
											<div class="input-group">
												<div class="input-group-addon"><i class="fa fa-envelope  "></i></div>
												<input type="text" class="form-control" id="exampleInputAmount" placeholder="Adres email">
											</div>
										</div>
										
										<button type="submit" class="btn btn-danger">Załóż darmowe konto</button>
										<Br>
																	
											<a href="#"><small>Mam już konto. Chcę się zalogować </small></a>
										
									</form>
									
								</div>
							</div>
							
						</div>
					</div>
									
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="carousel team-members team-members-shadow" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="4" data-items-xxs="2" data-equalize-item=".testimonial-item">
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a class="" data-target="#modalText" data-toggle="modal" href="#"><i class="fa fa-info"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail buy"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				
					
				</div>
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive topminus"  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
					
				
				
				
				
            </div>
        </section>
	<!-- panel urzytkownika -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- wydarzenia - patronat -->
		<section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
			
					<div class="col-md-8 ">
                        <div class="project-description">
                            <h2>Project Info</h2>
                            <h3>Woody Chair has the guts to design and develop the impossible. With passion and a lot of expertise we create a surprisingly timeless collection of beautiful functional furniture, made with innovative and sustainable materials. Our brand represents connection.</h3>
                        </div>

                        <div class="portfolio-attributes">
                            <div class="attribute" style="width: 100%;"><strong>O Autorze:</strong><img src="http://sb360.pl/images/autor/ansz.jpg" style="float: left; width: 100px; margin-right: 10px; marign-bottom: 10px; ">Jan Ciepiela<br>Marketing CSR<br>Poland Business Run</div>
                        </div>
                        <div> <a href="" class="btn btn-dark btn-outline">Visit Website</a></div>
						
						<br>
						<br>
						
						
						<div class="call-to-action background-image" style="background-image:url(images/parallax/7.jpg)">
							<div class="col-md-10">
								<h3 class="text-light">Join by April 27 and <span>Win $200</span> in Programs and Services</h3>
								<p class="text-light">This is a simple hero unit, a simple call-to-action-style component for calling extra attention to featured content.</p>
							</div>
							<div class="col-md-2">
							<a class="btn btn-light btn-outline">Call us now!</a> </div>
						</div>
						
						<br>
						<br>
						
						
                    </div>
					
					<div class="sidebar col-md-3">
					
					
					
					</div>
				</div>
			</div>
		</section>
	
	
		<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5> KLASTER SPORTU </h5>
				<hr>
			</div>
				<div class="row">
					<div class="col-md-6">
						<div class="shop-promo-box text-right" style="background-image: url(homepages/shop-v2/images/collection-left.jpg);">
							<h2>DLA BIZNESU</h2>
							<p>
							We offer a range of services for
							<br> both businesses and individuals companies,
							<br> consectetur adipiscing elit. Morbi sagittis,
							<br> sem quis lacinia faucibus, orci ipsum
							<br> gravida tortor.</p>
							<a class="btn btn-dark" href="#">Zobacz szczegóły</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="shop-promo-box text-left" style="background-image: url(homepages/shop-v2/images/collection-right.jpg);">
							<h2>DLA SPORTU</h2>
							<p>
							We offer a range of services for
							<br> both businesses and individuals companies,
							<br> consectetur adipiscing elit. Morbi sagittis,
							<br> sem quis lacinia faucibus, orci ipsum
							<br> gravida tortor.</p>
							<a class="btn btn-dark" href="#">Zobacz szczegóły</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	
	     <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-md-9">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <div class="post-item-description">
										<h2>Lighthouse, standard post with a single image Lighthouse.</h2>
										<h2> standard post with a single image post with a single image post with a single image</h2>
										<p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi. Pellentesque sed nibh a quam accumsan dignissim quis quis urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor dui, dapibus gravida elit. Donec consequat laoreet sagittis. Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet tincidunt. Mauris interdum convallis metus.M</p>
                                        <!---
                                        <a href="images/blog/11.jpg" data-lightbox="gallery-item">
                                            <img alt="image" src="images/blog/11.jpg">
                                        </a>
										--->
                                    
                                        
                                        <div class="post-meta">

                                            <span class="">Artykuł pochodzi z numer Sport&Business 360 Sponsoring</span>
                                            <span>|</span>
											<span class="">Janusz Kozioł</span>
                                            <span>|</span>
											<span class="">Marketing sportowy</span>
											<span>|</span>
											<span class="">CSR, Poland Business Run</span>
											<span>|</span>
											<span>Paweł Zaremba</span>
											
                                            
                                        </div>
                                        <blockquote>
                                            <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
                                            <small>by <cite>Albert Einstein</cite></small>
                                        </blockquote>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor dui, dapibus gravida elit. Donec consequat laoreet sagittis. Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet tincidunt. Mauris interdum convallis metus. Suspendisse vel lacus est, sit amet tincidunt erat. Etiam purus sem, euismod eu vulputate eget, porta quis sapien. Donec tellus est, rhoncus vel scelerisque id, iaculis eu nibh.</p>


                                        <p>Donec posuere bibendum metus. Quisque gravida luctus volutpat. Mauris interdum, lectus in dapibus molestie, quam felis sollicitudin mauris, sit amet tempus velit lectus nec lorem. Nullam vel mollis neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel enim dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt accumsan massa id viverra. Sed sagittis, nisl sit amet imperdiet convallis, nunc tortor consequat tellus, vel molestie neque nulla non ligula. Proin tincidunt tellus ac porta volutpat. Cras mattis congue lacus id bibendum. Mauris ut sodales libero. Maecenas feugiat sit amet enim in accumsan.</p>

										
											<!--call-to-action colored background -->
											<div class="call-to-action call-to-action-dark">
												<div class="row">
													<div class="col-md-3">
														
														<h3>Z artykułu dowiesz się:</h3>
														<span>czas czytania 30 min</span> 
													</div>	
													<div class="col-md-9">
															<ul class="list-icon list-icon-arrow list-icon-colored">
																<li>za co Polacy cenią e-zakupy,</li>
																<li>jak rozumieć branding w e-commerce,</li>
																<li>co decyduje o zakupie w sklepie internetowym,</li>
																<li>jakie aspekty brandingu e-sklepu mają szczególne znaczenie na polskim rynku,</li>
																<li>jak sprawić, aby relacja z marką w e-commerce była jak najsilniejsza,</li>
																<li>o jakie kluczowe elementy związane z tworzeniem treści dla e-sklepu warto zadbać.</li>
															</ul>
															
														
													</div>
												</div>
											</div>
											<!--END: call-to-action colored background -->
										

                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       
														
										<div class="">
											<div class="row">
												<div class="col-md-8 m-b-100 m-t-100  center">
													<div class="heading section-title">
														<h2 class="m-b-20">Artykuł dostępny dla prenumeratorów</h2>
														<p>Ten artykuł pochodzi z zamkniętych źródeł<br>Sport&Business 360</p>
													</div>
													<br>
													<form class="form-inline  text-center">
														<div class="row">
															<div class="form-group">
																
																<div class="input-group ">
																	<input type="text" class="form-control" id="exampleInputAmount" placeholder="Login">
																	
																	
																</div>
																<div class="input-group ">
																	<input type="text" class="form-control" id="exampleInputAmount" placeholder="*******">
																	
																</div>
															</div>
															
														</div>
														
														<div class="row  m-t-5">
															<button type="submit" class="btn btn-default">Zaloguj się</button>
														</div>
														<div class="row">
															<br>
															<a href="#"><small>Lost your Password?</small></a>
														</div>
															
													</form>
												</div>
											</div>
										</div>
      									

									   <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       

										<div class="col-md-3" style="float: right; clear: both;">
											<div class="panel panel-default">
												<div class="panel-heading">CIEKAWOSTKA</div>
												<div class="panel-body">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
												</div>
												<div class="panel-footer">Źródło: sdfsf sdfs dflkds fsdf</div>
											</div>
										</div>

 <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                      
									<div class="panel panel-default" style="float: right;  clear: both;"">
											<div class="panel-heading">Grafika 1</div>
											<div class="panel-body">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
											</div>
											
										</div>

										 <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                       <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                      
									<div class="panel panel-default">
											
											<img alt="image" src="images/blog/11.jpg">
											
										</div>


									  <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                        <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
										
										
										
										<div class="call-to-action background-image" style="background-image:url(images/parallax/7.jpg)">
							<div class="col-md-10">
								<h3 class="text-light">Join by April 27 and <span>Win $200</span> in Programs and Services</h3>
								<p class="text-light">This is a simple hero unit, a simple call-to-action-style component for calling extra attention to featured content.</p>
							</div>
							<div class="col-md-2">
							<a class="btn btn-light btn-outline">Call us now!</a> </div>
						</div>
										

                                    </div>
                                    <div class="post-tags">
                                        <a href="#">Life</a>
                                        <a href="#">Sport</a>
                                        <a href="#">Tech</a>
                                        <a href="#">Travel</a>
                                    </div>

                                    <div class="post-navigation">
                                        <a href="blog-single.html" class="post-prev">
                                            <div class="post-prev-title"><span>Previous Post</span>Standard post with a single image</div>
                                        </a>
                                        <a href="blog-masonry-3.html" class="post-all">
                                            <i class="fa fa-th"></i>
                                        </a>
                                        <a href="blog-single-video.html" class="post-next">
                                            <div class="post-next-title"><span>Next Post</span>Post with YouTube Video</div>
                                        </a>
                                    </div>
                              
                                    
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>

                    </div>
                    <!-- end: content -->

                    <!-- Sidebar-->
                    <div class="sidebar col-md-3">
                        <div class="pinOnScroll">
                            <!--widget newsletter-->
							
							
							<div class="">
								<h5>O Autorze</h5>
								<img src="http://sb360.pl/images/autor/ansz.jpg" style="float: left; width: 100px; margin-right: 10px; marign-bottom: 10px; ">
								
								<span>Paweł Zaremba</span>
								<span class="">Marketing</span>
								<span class="">CSR, Poland Business Run</span>
								
								
							</div>
							<div class="" style="clear: both;">
							<p>
								Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem.
								</p>
							</div>
							
							
                            <div class="widget  widget-newsletter">

                                
                            </div>
                            <!--end: widget newsletter-->


                        </div>
                    </div>
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
	
		
		<section >
            <div class="container">
				<div class="row">
					<div class="col-md-8 m-b-100  center">
						<div class="heading section-title">
							<h2 class="m-b-20">Artykuł dostępny dla prenumeratorów</h2>
							<p>Ten artykuł pochodzi z zamkniętych źródeł<br>Sport&Business 360</p>
						</div>
						<br>
						<form class="form-inline  text-center">
							<div class="row">
								<div class="form-group">
									
									<div class="input-group ">
										<input type="text" class="form-control" id="exampleInputAmount" placeholder="Login">
										
										
									</div>
									<div class="input-group ">
										<input type="text" class="form-control" id="exampleInputAmount" placeholder="*******">
										
									</div>
								</div>
								<button type="submit" class="btn btn-default">Zaloguj się</button>
							</div>
							<div class="row">
								<br>
								<a href="#"><small>Lost your Password?</small></a>
							</div>
								
						</form>
					</div>
				</div>
			</div>
        </section>
		
	
		<!-- panel urzytkownika -->
		<!-- icony
		
		<a class="btn btn-xs btn-slide btn-light" href="#">
									<i class="fa fa-paperclip"></i>
									<span>Dadatki</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="#" data-width="70">
									<i class="fa fa-file-pdf-o"></i>
									<span>PDF</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
									<i class="fa fa-creative-commons"></i>
									<span>Licencja</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="225">
									<i class="fa fa-lock  "></i>
									<span>Tylko dla prenumeratorów</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="210">
									<i class="fa fa-unlock    "></i>
									<span>Dostępny dla wszystkich</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="195">
									<i class="fa fa-bookmark      "></i>
									<span>Dodany do ulubionych</span>
								</a>
								<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="185">
									<i class="fa fa-bookmark-o     "></i>
									<span>Dodaj do ulubionych</span>
								</a>
								
		-->
		
		
		
		
			        <!-- Page Content -->
        <section  class="sidebar-left">
            <div class="container">
				<div class="row">
				
				
					<!-- Sidebar-->
                    <div class="sidebar col-md-3">
                        <div class="pinOnScroll">
                            <!--widget newsletter-->
							
							
						</div>
					</div>
					
					
					<div class="col-md-9">

   
						<div class="row team-members team-members-left team-members-shadow m-b-40">
							<div class="col-md-12">
								<div class="team-member">
									
									<div class="team-desc">
										<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DJtB7ao8P/5/cover_thumb.jpg" style="float: right; width: 150px; margin-left: 15px; marign-bottom: 15px; ">
										<h3>DAJ SIĘ ZAUWAŻYĆ.</h3> <h3>O TYM, JAK BUDOWAĆ STRATEGIĘ WIZERUNKOWĄ I ZWIĘKSZAĆ ROZPOZNAWALNOŚĆ</h3>
										
										<span class="kategoria">Marketing sportowy</span>
										<span>|</span>
										<span class="tagi">CSR, Poland Business Run</span>
										<span>|</span>
										<span>Paweł Zaremba</span>
										<p>Beata Olivas, prezes grupy medialnej One PL wydającej m.in. ogólnopolską gazetę „Kurier Codzienny”, energicznym krokiem, z uśmiechem na ustach, zmierzała w kierunku najbardziej reprezentatywnej sali konferencyjnej w biurowcu firmy. Wyprostowana, niezwykle elegancka i pewna siebie wzbudzała podziw pracowników organizacji. Tym razem jednak zamiast powagi na jej twarzy malowały się satysfakcja i zadowolenie </p>
										<a class="btn btn-xs  btn-light btn-rounded"><i class="fa fa-lock  "></i><span>Tylko dla prenumeratorów</span></a>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="team-member">
									
									<div class="team-desc">
										<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DOfgJNb0M/5/cover_thumb.jpg " style="float: right; width: 150px; margin-left: 15px; marign-bottom: 15px; ">
										<h3>OD RESTAURACJI CHAMPIONS DO GALI NA PGE NARODOWYM</h3> <h5>HISTORIA ORGANIZACJI KSW</h5>
										
										<span class="kategoria">Marketing sportowy</span>
										<span>|</span>
										<span class="tagi">KSW, MMA</span>
										<span>|</span>
										<span>Paweł Zaremba</span>
										<p>Prezes dużej grupy medialnej zastanawia się nad zmianą modelu biznesowego. Chce zwolnić profesjonalnych dziennikarzy i zainwestować w technologie automatyzujące agregację treści oraz bieżącą analizę i profilowanie zbieranych informacji. Jej plan spotyka się z ostrą krytyką na rynku, w związku z czym zarząd zaczyna wątpić, czy wprowadzanie zmian ma sens. </p>
										<a class="btn btn-xs  btn-light btn-rounded"><i class="fa fa-lock  "></i><span>Tylko dla prenumeratorów</span></a>
										
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="team-member">
									
										
									
									<div class="team-desc">
										<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DynRASXPS/7/cover_thumb.jpg" style="float: right; width: 150px; margin-left: 15px; marign-bottom: 15px; ">
										<h3>JAK DZIAŁA RYNEK FITNESS W USA?</h3> <h6>ANALIZA ROZWOJU TRENDÓW BRANŻY FITNESS W USA W LATACH 1960-2017</h6>
										
										
										<span class="kategoria">Marketing sportowy</span>
										<span>|</span>
										<span class="tagi">CSR, Poland Business Run</span>
										<span>|</span>
										<span>Paweł Zaremba</span>
										
										
										<p>
										W artykule przedstawiono badawcze podejście do potrzeb kibiców na podstawie badań fanów Lecha Poznań i Wisły Kraków. Autor dotyka przestrzeni sponsor – kibic podkreślając, że dobre kontakty z kibicami przekładają się na dobre kontakty ze sponsorem.
										</p>
										<a class="btn btn-xs  btn-light btn-rounded"><i class="fa fa-lock  "></i><span>Tylko dla prenumeratorów</span></a>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="team-member">
									
									<div class="team-desc">
										<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg " style="float: right; width: 150px; margin-left: 15px; marign-bottom: 15px; ">
										<h3>KIBIC = KLIENT ?!</h3>
										<h3>ANALIZA ROZWOJU TRENDÓW BRANŻY FITNESS W USA W LATACH 1960-2017</h3>
									
										<span class="kategoria">Marketing sportowy</span>
										<span>|</span>
										<span class="tagi">CSR, Poland Business Run</span>
										<span>|</span>
										<span>Paweł Zaremba</span>
										
										<p>W artykule przedstawiono badawcze podejście do potrzeb kibiców na podstawie badań fanów Lecha Poznań i Wisły Kraków. Autor dotyka przestrzeni sponsor – kibic podkreślając, że dobre kontakty z kibicami przekładają się na dobre kontakty ze sponsorem.</p>
										<a class="btn btn-xs  btn-light btn-rounded"><i class="fa fa-lock  "></i><span>Tylko dla prenumeratorów</span></a>
									</div>
								</div>
							</div>
						</div>
						
					
					</div>
					
					<!-- end: content -->

                    
					
					
				</div>
			</div>
        </section>
		<!--END: Team members left-->
	
	
	
	
	
	
	
	
	<!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left--><!--END: Team members left-->
	
	<!--  artykuły  -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5> BANK WIEDZY SPORT&BUSINESS  </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-rocket"></i></div>
							<h4>Rozwój kariery</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
						<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-map-signs"></i></div>
						<h4>Dwutorowość kariery</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-money"></i></div>
						<h4>Formy finansowania</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-line-chart"></i></div>
						<h4>Zarządzanie organizacją</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-users"></i></div>
						<h4>Klub biznesu</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-handshake-o"></i></div>
						<h4>Sponsoring sportowy</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-briefcase"></i></div>
						<h4>Pzyskiwanie sponsorów</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-video-camera"></i></div>
						<h4>Marketing sportowy</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-bank"></i></div>
						<h4>Sport w samorządach</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-futbol-o"></i></div>
						<h4>Infrastruktura sportowa</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-balance-scale"></i></div>
						<h4>Prawo i księgowość</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-star"></i></div>
						<h4>PR i współpraca z mediami</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-heart"></i></div>
						<h4>CSR oraz crowdfunding</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-shopping-cart"></i></div>
						<h4>Sklep kibica</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					<div class="col-4 col-md-3 icon-box medium fancy box2">
						<div>
							<div class="icon"> <i class="fa fa-graduation-cap"></i></div>
						<h4>Kuźnia managerów</h4>
						</div>
						<div>
							<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
							<hr>
						</div>
					</div>
					
					<a href="alejaja.html">
						<div  class="col-4 col-md-3 icon-box medium fancy box2">
							<div>
								<div class="icon"> <i class="fa fa-flag-checkered"></i></div>
							<h4>Organizacja wydarzeń</h4>
							</div>
							<div>
								<p class="text-right"><a href="#"><small>Dowiedz się więcej</small></a></p>
								<hr>
							</div>
						</div>
					</a>
				
					
					
					
					
				</div>
			
			</div>
        </section>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

<!--  artykuły  -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5>ARTYKUŁY SPORT&BUSINESS </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-md-4 box">
						<div>
							<img src="https://static.hbrp.pl/minimized/M360xM2048xA/reader-files/book/P198IkwpO/12/cover.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Ruszyły zapisy na 19. edycję programu rozwojowego dla menedżerów </h4>
							
							<span class="kategoria">ZARZĄDZANIE I PRZYWÓDZTWO</span>
							<span>| EDUKACJA BIZNESOWA, ROZWÓJ PRZYWÓDZTWA | </span>
							<span>Izabela Malinowska</span>
							<p>
							 
							Zarządzanie zespołem, działania strategiczne, komunikacja i realizacja celów - to tylko niektóre tematy poruszane podczas sesji programu organizowanego przez ICAN Institute, wydawcę „Harvard Business Review Polska”.
							 </p>						
						</div>
					</div>
					<div class="col-md-4 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/D1DAPn1nX/5/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Daniel L. Shapiro. Negocjacje to jego powołanie </h4>
							
							<span class="kategoria">ZARZĄDZANIE I PRZYWÓDZTWO </span>
							<span>| KOMUNIKACJA, NEGOCJACJE |</span>
							<span>Daniel Shapiro, Joanna Koprowska</span>
							<p>
							 Podróżuje po całym świecie, by rozwiązywać konflikty biznesowe, polityczne, a nawet rodzinne. Kim jest Daniel L. Shapiro, który już w maju odwiedzi Polskę?
							</p>					
						</div>
					</div>
					<div class="col-md-4 box">
						<div>
							
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					
					
				</div>
			
			</div>
        </section>

	
	
	
	<!-- WYSKAKUJĄCE OKIENKO  -->
		<div class="modal fade" id="modalText" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="modal-label">Sport&Business 360<br>SPONSORING</h4>
                    </div>
                    <div class="modal-body">
						<div class="row">
                            <div class="col-sm-5">
                                <img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
							</div>
							<div class="col-sm-7">
                                <div class="about_book">                      
								  <p><span class="relief">About this Book.</span></p>
									<ul>
									  <li><span class="relief"><i class="icon-book"></i>Title: </span>Bioeconomy and Capitalism</li>
									  <li><span class="relief"><i class="icon-user"></i>Author: </span>John Smith</li>
									  <li><span class="relief"><i class="icon-bookmark"></i>Editorial: </span>Jekamabu</li>                          
									  <li><span class="relief"><i class="icon-flag"></i>Language: </span>Spanish</li>  
									  <li><span class="relief"><i class="icon-sort-by-alphabet"></i>Page Number: </span>100</li>  
									</ul>
								</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                    </div>
                </div>
            </div>
        </div>
	<!-- WYSKAKUJĄCE OKIENKO  -->
	
	
	
	
	<!-- panel urzytkownika -->
        <section id="section3">
            <div class="container">
                <div class="row">
					
					
					<div class="row">
						<div class="col-md-12">
							<div class="text-center m-b-20"><h4>MAGAZYNY</h4></div>
						</div>
					</div>
										
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="carousel team-members team-members-shadow" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="4" data-items-xxs="2" data-equalize-item=".testimonial-item">
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_1.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="images/sb360_1-dokupienia.jpg">
										</div>
										<div class="grid-description">
											<a class="" data-target="#modalText" data-toggle="modal" href="#"><i class="fa fa-info"></i></a>
										</div>
										
									</div>
								</div>
								
								<div class="grid-item">
									<div class="grid-item-wrap">
										<div class="grid-image">
											<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
										</div>
										<div class="grid-description">
											<a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" data-lightbox="iframe"><i class="fa fa-book"></i></a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				
					
				</div>
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive topminus"  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
					
				<div class="row">
										
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="carousel equalize testimonial testimonial-box" data-dots="false" data-margin="25" data-arrows="false" data-items="4" data-items-sm="3" data-items-xxs="2" data-equalize-item=".testimonial-item">
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg"></a>
								</div>
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_3.jpg"></a>
								</div>
								<div>
									<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="images/sb360_1-dokupienia.jpg"></a>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				
					
				</div>
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive  "  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="text-center m-b-20"><h4>DODATKI Z MAGAZYNU</h4></div>
					</div>
				</div>
										
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="carousel equalize testimonial testimonial-box" data-dots="false" data-margin="10" data-arrows="true" data-items="5" data-items-sm="3" data-items-xxs="2" data-equalize-item=".testimonial-item">
							<div>
								<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_1.jpg"></a>
							</div>
							<div>
								<a href="#"><img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg"></a>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
                </div>
				
				
				
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<img alt="Raport" class="img-responsive "  src="images/deska.png">
					</div>
					<div class="col-md-1">
					</div>
				</div>
				
            </div>
        </section>
	<!-- panel urzytkownika -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- Page title -->
        <section id="page-title" class="page-title-classic">
            <div class="container">
                <div class="row">
					<div class="col-md-9">
						<div class="icon-box medium fancy">
							<div class="icon"> <i class="fa fa-heart"></i></div>
							<h1>CSR w sporcie </h1>
							<p>DLACZEGO JEST TAK WAŻNY ?<BR> Bardzo ważna bo coś tam coś tam.Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque. </p>
							<p>CO JEST WAŻNE ?<BR>Pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>
							
						</div>
					</div>
					<div class="col-md-3">
						
					</div>
				</div>
            </div>
        </section>
        <!-- end: Page title -->
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- zajawka działu -->
        <section id="section3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img alt="lawyer" src="images/csr.jpg" width="100%" class="img-responsive "> 
                    </div>
                    <div class="col-md-7">
                        <h2 class="text-medium">CSR w sporcie </h2>
                        <p>Każdy numer magazynu biznesowego „Harvard Business Review Polska” to praktyczna dawka wiedzy biznesowej niezbędnej do efektywnego działania i ciągłego rozwijania swoich kompetencji. Autorami artykułów o przywództwie, zarządzaniu, sprzedaży i marketingu są naukowcy związani z Uniwersytetem Harvarda, a także doświadczeni praktycy biznesu. W „Harvard Business Review” </p>
                        
                        <div class="clear"></div>
                        <a class="read-more" href="#">Dowiedź się więciej <i class="fa fa-long-arrow-right"></i></a>
						<br>
                        <hr>

                        <div class="row flexcss">
			
							<div class="col-md-6 box">
								<div>
									<img src="https://static.hbrp.pl/minimized/M360xM2048xA/reader-files/book/P198IkwpO/12/cover.jpg" style="width: 100%; margin-top: 60px; margin-bottom: 0px;">
									
								</div>
								<div>
									<h4>Ruszyły zapisy na 19. edycję programu rozwojowego dla menedżerów </h4>
									<span class="kategoria">ZARZĄDZANIE I PRZYWÓDZTWO</span>
							<span>| EDUKACJA BIZNESOWA, ROZWÓJ PRZYWÓDZTWA | </span>
							<span>Izabela Malinowska</span>
												
								</div>
							</div>
							<div class="col-md-6 box">
								<div>
									<img src="https://static.hbrp.pl/f/book/P2d67kSaq/D1DAPn1nX/5/cover_thumb.jpg" style="width: 100%; margin-top: 60px; margin-bottom: 0px; ">
									
								</div>
								<div>
									<h4>Daniel L. Shapiro. Negocjacje to jego powołanie </h4>
									<span class="kategoria">ZARZĄDZANIE I PRZYWÓDZTWO</span>
							<span>| EDUKACJA BIZNESOWA, ROZWÓJ PRZYWÓDZTWA | </span>
							<span>Izabela Malinowska</span>
												
								</div>
							</div>
							
						</div>
			
						
						
                    </div>
					
				<hr>
                </div>
		
            </div>
        </section>
        <!-- end: zajawka działu -->
	
	



	<!-- wydarzenia - patronat -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5>PATRONATY SPORT&BUSINESS </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DJtB7ao8P/5/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Dni Biznesu w Sporcie</h4>
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
							
							<p>
							 II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki.
							 </p>						
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<hr>
						</div>
						<div>
							<h4>Sportbiz forum sportu i biznesu</h4>
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
						
							<p>
							 9 stycznia 2018 roku w Warszawie odbędzie się VIII Kongres Podatków i Rachunkowości KPMG – największe tego typu wydarzenie w Polsce, dedykowane przedstawicielom kadry zarządzającej.
							</p>					
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DynRASXPS/7/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Go activ show</h4>
							
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">TARGI</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>		
								
						</div>
					</div>
					
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Jakość w Sporcie</h4>
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
						
							<p>
							 W dniach 10-12 listopada 2017 r. w Łodzi odbędzie się największy w Polsce zjazd firm rodzinnych.
							</p>						
						</div>
					</div>
				</div>
			</div>
        </section>
	
		
		
	
		
		
		
		
		
		
		
		
	
	
	
	<!-- wydarzenia - patronat     -->
	<section id="page-title" class="page-title-classic">
            <div class="container ">
			<div class="icon-box  fancy  relative"    >
				<div class="icon "> <i class="fa fa-bomb  " ></i></div>
				<h2> SYLWETKI SPORT&BUSINESS 2</h2>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque purus eu suscipit elementum. Mauris facilisis consectetur mi id fermentum. Vestibulum ac aliquam ex. Praesent interdum nisl porta enim molestie vestibulum. Cras finibus eleifend pulvinar. Ut aliquam nibh vitae ullamcorper cursus. Maecenas a egestas eros. Suspendisse non pharetra metus.
					</p>
				<div class="more2">
					<div class="wersja2 "> <i class="fa fa-bomb  " ></i></div>
					
					<p>
					Proin in luctus lacus. Mauris bibendum ullamcorper libero id ultrices. Duis ligula velit, eleifend at dolor quis, blandit auctor neque. Sed a leo imperdiet, ullamcorper nunc at, rhoncus augue. Ut consectetur mattis tortor, sit amet sollicitudin dui. Aliquam quis orci non sapien laoreet rhoncus ac eu sem. Aenean nec justo arcu. Sed cursus suscipit faucibus. Etiam pulvinar a eros nec vehicula. Sed ac quam a tortor tincidunt tincidunt sed non risus. In id commodo elit, in lacinia augue. Fusce fermentum sit amet quam eu porttitor. Mauris ut hendrerit ex. Integer nec facilisis arcu.
					</p>
					<p>
					Mauris id venenatis orci, quis auctor purus. Sed rutrum, tellus et commodo interdum, ante sapien pretium ante, suscipit dapibus quam metus ut arcu. Aliquam erat volutpat. Aliquam auctor nisi vitae ligula euismod pulvinar. Mauris orci tortor, finibus non quam sit amet, rhoncus aliquam elit. Nulla vel laoreet urna, vitae venenatis velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam est lectus, consectetur et tincidunt quis, tristique id elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sollicitudin pretium sem, eu facilisis urna laoreet vel. Suspendisse fermentum fringilla tellus, quis pulvinar metus laoreet ut.
					</p>
					
				</div>

			</div>
				
        </section>
	

	
	
	
	
	
	
	
	
	<!-- wydarzenia - patronat -->
	<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				
				<h5><i class="fa fa-play"></i> SYLWETKI SPORT&BUSINESS </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="https://d-pt.ppstatic.pl/k/r/1/85/10/58b1267b7574b_p.jpg?1488052297" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Janusz Polaczek</h4>
							<span class="kategoria">PREZES ZARZĄDU</span>
							
							<p>
							 II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki.
							 </p>						
						</div>
					</div>
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="https://cdn.galleries.smcloud.net/t/photos/gf-tFFe-PXhu-sU82_mateusz-kusznierewicz.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Mateusz Kusznierewicz</h4>
							<span class="kategoria">MISTRZ OLIMPIJSKI</span>
						
							<p>
							 Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów 
							</p>					
						</div>
					</div>
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="http://cdn.innpoland.pl/f681062599a1c3bc6a58554486ec9ee2,780,0,0,0.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Igor Klaja</h4>
							
							<span class="kategoria">4F PREZES ZARZĄDU</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>		
								
						</div>
					</div>
					
					<div class="col-md-3 box">
						<div class="text-right">
							<span> czytaj więcej</span>
							<hr>
						</div>
						<div>
							<img src="http://img.interia.pl/biznes/nimg/u/0/CCC_zaklada_wzrost_ponad_6857839.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<h4>Mariusz Miłek</h4>
							<span class="kategoria">CCC PREZES ZARZĄDU</span>
						
							<p>
							 W dniach 10-12 listopada 2017 r. w Łodzi odbędzie się największy w Polsce zjazd firm rodzinnych.
							</p>						
						</div>
					</div>
				</div>
			</div>
        </section>
	
	
	
	
	
	
	
	
	
	<!-- BOXES -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="shop-promo-box text-right" style="background-image: url(homepages/shop-v2/images/collection-left.jpg);">
                            <h2>KLASTERS SPORTU<BR>Sport&Business</h2>
                            <p>
                                We offer a range of services for
                                <br /> both businesses and individuals companies,
                                <br /> consectetur adipiscing elit. Morbi sagittis,
                                <br /> sem quis lacinia faucibus, orci ipsum
                                <br /> gravida tortor.</p>
                            <a class="btn btn-dark" href="#">Szczegóły</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="shop-promo-box text-left" style="background-image: url(homepages/shop-v2/images/collection-right.jpg);">
                            <h2>Sport&Business<BR>MEETING</h2>
                            <p>
                                We offer a range of services for
                                <br /> both businesses and individuals companies,
                                <br /> consectetur adipiscing elit. Morbi sagittis,
                                <br /> sem quis lacinia faucibus, orci ipsum
                                <br /> gravida tortor.</p>
                            <a class="btn btn-dark" href="#">Szczegóły</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end: BOXES -->
	
	
	
	
		<!-- FORM -->
        <div class="background-grey">
            <div class="container p-t-60 p-b-60">
                <div class="row">
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-5 real-estate-form-container">
                        <div class="real-estate-form">
                            <div class="text-dark p-40 background-light">
                                <h3 class="m-b-20">Zarejestruj się i zdobądź dostęp do wiedzy.</h3>
                                <form id="widget-contact-form-agent" class="form-gray-fields" action="include/contact-form.php" role="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="">
                                            </div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="password">Hasło</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="password">Powtórz hasło</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="">
													</div>
												</div>
											</div>
                                            <div class="form-group">
                                                <button class="btn button border black rounded" type="submit" id="form-submit">Zapisz</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: FORM -->
		
		
		
	
		<!-- SUMMER SALE -->
		<section class="section-pattern p-t-60 p-b-30 text-center" style="background: url(images/pattern/pattern22.png)">
			<div class="container">
				<div class="row">
					<div class="col-md-5 text-left">
						<h2 class="text-medium">Skorzystaj z promocji</h2>
						<p>Zamów more than 60$ and you will get free shippining Worldwide. <a href="#" class="read-more">More info</a></p>
					</div>
					<div class="col-md-7">
						<div class="countdown medium" data-countdown="2018/02/19 11:34:51" data-animation="fadeInUp"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end: SUMMER SALE -->
	
	
	
	<!-- DELIVERY INFO -->
		<section class="background-grey p-t-40 p-b-0">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-gift"></i></a>
							</div>
							<h3>Bony okazyjne</h3>
							<p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-plane"></i></a>
							</div>
							<h3>Proforma dla firm</h3>
							<p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-history"></i></a>
							</div>
							<h3>Zakupy bez rejestracji</h3>
							<p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end: DELIVERY INFO -->
	
	
	
	
	
	
	
	
	
	
	<!-- SERVICES -->
        <section class="text-light" style="background: transparent url(images/polygon/1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-4" >
                            <div class="heading heading text-left">
                                <h1 class="text-medium">BANK WIEDZY </h1>
								
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <i class="fa fa-map-signs"></i>
                                    </div>
                                    <h3>Co po karierze sportowej</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-users"></i></a>
                                    </div>
                                    <h3>Prowadzenie klubu biznesu</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-hashtag"></i></a>
                                    </div>
                                    <h3>Marketing sportowy</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>

                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3>Technologia w sporcie</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-handshake-o"></i></a>
                                    </div>
                                    <h3>Sponsoring</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="icon-box effect small clean">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-ticket"></i></a>
                                    </div>
                                    <h3>Infrastruktura sportowa</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.  </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SERVICES -->
	
	
	
	
	<!-- OPINIE - BLOGERZY SB360 -->
        <section class="background">
			
            <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading text-left">
							<hr>
							<h5>OPINIE - BLOGERZY SB360</h5>
							<hr>
						</div>
					</div>
				</div>
				
                 <!-- Testimonials -->
                <div class="carousel equalize testimonial testimonial-box" data-margin="10" data-arrows="true" data-items="4" data-items-sm="2" data-items-xxs="1" data-equalize-item=".testimonial-item">

                    <!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/pach.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/bade.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/ansz.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/jalo.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/mija.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					
					
					<!-- Testimonials item -->
					<a href="#">
                    <div class="testimonial-item">
						<img src="http://sb360.pl/images/autor/kaku.jpg" alt="">
						<p>Dlaczego nie można czegoś załatwić w polskim klubie sportowym?</p>
						<span>Paweł Chmielewski</span>
                        <span>Analityk sportowy</span>
                    </div>
					</a>
                    <!-- end: Testimonials item-->
					

                </div>
                <!-- end: Testimonials -->
            </div>
        </section>
        <!-- end: OPINIE - BLOGERZY SB360 -->
	
	
	
	
	
<section class="background-grey">
	<div class="container">
		<div class="rowcarousel-description-clients carousel-description-style ">
            <div class="col-md-4">
                <div class="description">
                    <h2>RAPORTY BRANŻOWE</h2>
					<p>Przygotowe przez partnerów Sport&Business. Nullam vulputate euis od urna non pharetra. Phasellus bland matt is ipsum, ac laoreet lorem lacinia et. interum sit amet dui.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="carousel equalize testimonial testimonial-box" data-margin="10" data-arrows="true" data-items="3" data-items-sm="3" data-items-xxs="1" data-equalize-item=".testimonial-item">
					<div>
						<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/07/Deloitte-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym </h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/07/Lotto-Ekstraklasa-1-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2017/09/Trefl-Gda%C5%84sk-148x85.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>
                    <div>
                        <a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sponsoringsport.pl/wp-content/uploads/2016/09/Press-Service-logo-563x353.png">
						</a>
						<h5>Derby Krakowa  najważniejszym grudniowym wydarzeniem w Lotto Ekstraklasie</h5>
                    </div>

                </div>
            </div>

        </div>

	</div>
</section>

	
		<div class="call-to-action background-image p-t-100 p-b-100" style="background-image:url(images/parallax/7.jpg)">
            <div class="container">
                <div class="col-md-5">
                    <h3 class="text-light">Join by April 27 and <span>Win $200</span> in Programs and Services</h3>
                    <p class="text-light">This is a simple hero unit, a simple call-to-action-style component for calling extra attention to featured content.</p>
                </div>
                <div class="col-md-3"> <a class="btn btn-light btn-outline">Zapisz się</a> </div>
				<div class="col-md-4"> <img alt="Raport" class="img-responsive img-thumbnail"  src="images/sb1-right.png"> </div>
            </div>
        </div>
	
	
	
	
     
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- Shop products -->
	<section>
		<div class="container">
			<div class="heading text-left">
				<hr>
				<h5>DOSTĘPNE WYDANIA<br>SPORT&BUSINESS 360</h5>
				<hr>
			</div>
			<!--Product list-->
			<div class="row">
			
				<div class="col-md-3 col-12" >
					<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_1.jpg">
					</a>
					<div class="row">
						<div class="col-md-12">
							<h6>Sport&Business 360</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h6>SPONSORING</h6>
						</div>
						<div class="col-md-6 text-right">
							<h5 class="cena">29.00 zł</h5>
							<div class="product-reviews">Dodaj do koszyka</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-6" >
					<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_2.jpg">
					</a>
					<div class="row">
						<div class="col-md-12">
							<h6>Sport&Business 360</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h6>STRATEGIA</h6>
						</div>
						<div class="col-md-6 text-right">
							<h5>29.00 zł</h5>
							<div class="product-reviews">Dodaj do koszyka</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-6" >
					<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_3.jpg">
					</a>
					<div class="row">
						<div class="col-md-12">
							<h6>Sport&Business 360</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h6>FORMY FINANSOWANIA</h6>
						</div>
						<div class="col-md-6 text-right">
							<h5>29.00 zł</h5>
							<div class="product-reviews">Dodaj do koszyka</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-6" >
					<a href="#">
						<img alt="Raport" class="img-responsive img-thumbnail"  src="http://sb360.pl/images/sb360_3.jpg">
					</a>
					<div class="row">
						<div class="col-md-12">
							<h6>Sport&Business 360</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h6>MARKETING SPORTOWY</h6>
						</div>
						<div class="col-md-6 text-right">
							<h5>29.00 zł</h5>
							<div class="product-reviews">Dodaj do koszyka</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- end: Shop products -->
	
	
	
	
	
		
	<!-- ZAMÓWIENIA -->
	<section>
		<div class="container p-t-60 p-b-60">

			
			<div class="table-responsive">
			  <table class="table table-condensed">
				<thead>
				  <tr>
					<th>Id zamówienia</th>
					<th>Data</th>
					<th>STATUS</th>
					<th>Kwota</th>
					<th>Dokument sprzedąży</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>31</td>
					<td>10.03.2017</td>
					<td>Czeka na płatność <i class="fa fa-exclamation-triangle"></i></td>
					<td>29,99 zł</td>
					<td>Proforma</td>
				  </tr>
				  <tr>
					<td>42</td>
					<td>19.05.2017</td>
					<td>Opłacone <i class="fa fa-check"></i> </td>
					<td>90,00 zł</td>
					<td>Faktura VAT</td>
				  </tr>
				  
				</tbody>
			  </table>
			</div>
			<!--END: Condensed Table-->
			<hr class="space">  <!-- PRZERWA -->
		</div>
	</section>
	
	
	
	
	<!-- FORM -->
        <section>
            <div class="container p-t-60 p-b-60">
                
				<div class="row">
                    <div class="col-md-4 real-estate-form-container">
                        <div class="real-estate-form">
                            
                                <h5 class="m-b-20">Dane personalne</h5>
                                <form id="widget-contact-form-agent" class="form-gray-fields" action="include/contact-form.php" role="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="password">Imię</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Jan">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="password">Nazwisko</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Ciepiela">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>STANOWISKO lub dział</label>
												<select id="room_type" class="form-control required email" name="room_type">
													<option value=""></option>
													<option value="">Prezes</option>

													<option value="Single Room">Dyrektor</option>

													<option value="Double Room">Dział Promocji/Marketingu</option>

													<option value="King double Room">Dział Sportowy</option>
													<option value="King double Room">Sportowiec</option>
													<option value="King double Room">Trener</option>
													<option value="King double Room">Student</option>
												</select>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="email">Email</label>
														<input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="ciepielajan@gmail.com">
													</div>
												</div>
											</div>	
                                            
											<div class="form-group">
                                                <label for="email">TEL</label>
                                                <input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="500360628">
                                            </div>
											
                                            
                                        </div>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
					
					
					
					
					<div class="col-md-4 real-estate-form-container">
                        <div class="real-estate-form">
                            
                                <h5 class="m-b-20">Dane do faktury</h5>
                                <form id="widget-contact-form-agent" class="form-gray-fields" action="include/contact-form.php" role="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
											
												
											<div class="form-group">
												<label for="password">Nazwa firmy</label>
												<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Fundacja Zostań Mistrzem">
											</div>
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="password">Ulica</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Os. Sportowe">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="password">Numer</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="22/10">
													</div>
												</div>
											</div>	
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="password">Kod </label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="31-966">
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<label for="password">Miasto</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Kraków">
													</div>
												</div>
											</div>	
											
											
                                            <div class="form-group">
                                                <label for="email">NIP</label>
                                                <input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="123456789">
                                            </div>
											
                                        </div>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
					
					
					
					<div class="col-md-4 real-estate-form-container">
                        <div class="real-estate-form">
                            
                                <h5 class="m-b-20">Adres dostawy</h5>
                                <form id="widget-contact-form-agent" class="form-gray-fields" action="include/contact-form.php" role="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
											
												
											<div class="form-group">
												<label for="password">Adresat</label>
												<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Jan Ciepiela Fundacja Zostań Mistrzem">
												
											</div>
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="password">Ulica</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Os. Sportowe">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="password">Numer</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="22/10">
													</div>
												</div>
											</div>	
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="password">Kod </label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="31-966">
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<label for="password">Miasto</label>
														<input type="password" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Kraków">
													</div>
												</div>
											</div>	
											
											
                                            <div class="form-group">
                                                <label for="email">Uwagi dla kuriera</label>
                                                <input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="123456789">
                                            </div>
											
											<div class="form-group text-right p-t-20">
												<button class="btn button border black rounded " type="submit" id="form-submit">Zapisz</button>
											</div>	
											
                                        </div>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
					
									
					
					
                </div>
            </div>
        </section>
        <!-- end: FORM -->
		
		
    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
	