{% extends 'base.html.twig' %}

{% block body %}

<div>

<!-- SHOP CART -->
<section id="shop-cart">
	<div class="container">
		<div class="shop-cart">
			<div class="table table-condensed table-striped table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="cart-product-remove"></th>
							<th class="cart-product-thumbnail">Product</th>
							<th class="cart-product-name">Description</th>
							<th class="cart-product-price">Unit Price</th>
							<th class="cart-product-quantity">Quantity</th>
							<th class="cart-product-subtotal">Total</th>
						</tr>
					</thead>
					<tbody>
					{% for product in data %}
						<tr>
							<td class="cart-product-remove">
								<a href="#"><i class="fa fa-close"></i></a>
							</td>

							<td class="cart-product-thumbnail">
								<a href="#">
									<img src="{{ product[0].productImg }}" alt="Bolt Sweatshirt">
								</a>
								<div class="cart-product-thumbnail-name">{{  product[0].productName }}</div>
							</td>

							<td class="cart-product-description">

								<p><span>{{  product[0].productId }}</span>
									<span>Size: M</span>
									<span>Color: Blue</span>
									<span>Gender: Women</span>
								</p>
							</td>

							<td class="cart-product-price">
								<span class="amount">{{  product[0].productRetailPrice }}</span>
							</td>

							<td class="cart-product-quantity">
								<div class="quantity">
									<input type="button" class="minus" value="-">
									<input type="text" class="qty" value="{{  product[0].productQuantity }}" name="quantity">
									<input type="button" class="plus" value="+">
								</div>
							</td>

							<td class="cart-product-subtotal">
								<span class="amount">{{ product.totalProd}}</span>
							</td>
						</tr>
					{% endfor %}


					</tbody>

				</table>

			</div>
            {% if not data %}
				<p>Twój koszyk jest pusty</p>
            {% else %}
                {{ form_start(form) }}
			<div class="row">
				<div class="col-md-4 text-right">
                    {{ form_row(form.email,{'label': 'Adres e-mail'} ) }}
				</div>
				<div class="col-md-4 text-right">
                    {{ form_row(form.phone,{'label': 'Telefon do wysyłki'} ) }}
				</div>
			</div>
                {% if form.plainPassword is defined %}
                    {{ form_row(form.plainPassword) }}
                {% endif %}

			
			<div class="row">

                {#{{ form_widget(form) }}#}

					<div class="col-md-4 real-estate-form-container">
                        <div class="real-estate-form">
								<h4>Adres dostawy</h4>
                                    <div class="row">
                                        <div class="col-md-12">

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														{#<label for="text">Imię</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Os. Sportowe" value="{{ data[0][0].user.name }}">#}
                                                        {{ form_row(form.name,{'label': 'Imię'} ) }}
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														{{ form_row(form.surname ,{'label':'Nazwisko'}) }}
														{#</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="22/10" value="{{ data[0][0].user.surname }}">#}
													</div>
												</div>
											</div>	
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														{{ form_row(form.sendAddress,{'label':'Adres'}) }}
														{#</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Os. Sportowe">#}
													</div>
												</div>
												{#<div class="col-md-4">#}
													{#<div class="form-group">#}
														{#{{ form_row(form. ,{'label':'Numer'}) }}#}
														{#</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="22/10">#}
													{#</div>#}
												{#</div>#}
											</div>	
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														{{ form_row(form.sendPostal ,{'label':'Kod '}) }}
														{#</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="31-966">#}
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														{{ form_row(form.sendCity ,{'label':'Miasto'}) }}
														{#</label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Kraków">#}
													</div>
												</div>
											</div>	
											
											
                                            <div class="form-group">
                                                {{ form_row(form.sendInfo ,{'label':'Uwagi dla kuriera'}) }}
												{#<label for="email">Uwagi dla kuriera</label>#}
                                                {#<input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="123456789">#}
                                            </div>
											
											
                                        </div>
                                    </div>

                        </div>
                    </div>
					
					<div class="col-md-4 real-estate-form-container">
                        <div class="real-estate-form">
								<h4>Dane do faktury</h4>
                               
                                    <div class="row">
                                        <div class="col-md-12">
											
												
											<div class="form-group">
                                                {{ form_row(form.sendPostal ,{'label':'Kod '}) }}
                                                {{ form_row(form.companyName ,{'label':'Nazwa'}) }}
												{#<label for="text">firmy</label>#}
												{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Fundacja Zostań Mistrzem">#}
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
                                                        {{ form_row(form.companyAddress ,{'label':'Adres'}) }}
														{#<label for="text"></label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Os. Sportowe">#}
													</div>
												</div>
												{#<div class="col-md-4">#}
													{#<div class="form-group">#}
                                                        {#{{ form_row(form.sendCity ,{'label':'Miasto'}) }}#}
														{#labellabel for="text">Numer</>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="22/10">#}
													{#</div>#}
												{#</div>#}
											</div>	
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
                                                        {{ form_row(form.companyPostal ,{'label':'Kod '}) }}
														{#<label for="text"></label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="31-966">#}
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
                                                        {{ form_row(form.companyCity ,{'label':'Miasto'}) }}
														{#<label for="text"></label>#}
														{#<input type="text" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="Kraków">#}
													</div>
												</div>
											</div>	
											
											
                                            <div class="form-group">
                                                {{ form_row(form.companyTax ,{'label':'NIP'}) }}
                                                {#<label for="email"></label>#}
                                                {#<input type="email" aria-required="true" name="widget-contact-form-email" class="form-control required email" placeholder="123456789">#}
                                            </div>
											
                                        </div>
                                    </div>

                        </div>
                    </div>

					<div class="col-md-4 p-r-10 ">
						<div class="table-responsive">
							<h4>Cart Subtotal</h4>

							<table class="table">
								<tbody>
									<tr>
										<td class="cart-product-name">
											<strong>Cart Subtotal</strong>
										</td>

										<td class="cart-product-name text-right">
											<span class="amount">{{ priceTotal.total }}</span>
										</td>
									</tr>
									<tr>
										<td class="cart-product-name">
											<strong>Shipping</strong>
										</td>

										<td class="cart-product-name  text-right">
											<span class="amount">{{ priceTotal.shipping }}</span>
										</td>
									</tr>
									<tr>
										<td class="cart-product-name">
											<strong>Coupon</strong>
										</td>

										<td class="cart-product-name  text-right">
											<span class="amount">-</span>
										</td>
									</tr><tr>
										<td class="cart-product-name">
											<strong>Total</strong>
										</td>

										<td class="cart-product-name text-right">
											<span class="amount color lead"><strong>{{ priceTotal.finalTotal }}</strong></span>
										</td>
									</tr>
								</tbody>

							</table>

						</div>
						<button type="submit" class="btn btn-default icon-left float-right">Zapisz</button>
                        {#{% do form.setRendered %}#}
                        {#{{ form_end(form) }}#}
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                        {#{{ form_rest(form) }}#}

                        {#<a href="#" class="btn btn-default icon-left float-right"><span>Proceed to Checkout</span></a>#}
					</div>
					
                </div>
            {% endif %}
			
			
			
			
			
			
	
			</div>
		</div>
		
		
		
		
		
		
	</div>
</section>
<!-- end: SHOP CART -->

<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="icon-box effect small clean">
					<div class="icon">
						<a href="#"><i class="fa fa-gift"></i></a>
					</div>
					<h3>Free shipping on orders $60+</h3>
					<p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="icon-box effect small clean">
					<div class="icon">
						<a href="#"><i class="fa fa-plane"></i></a>
					</div>
					<h3>Worldwide delivery</h3>
					<p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="icon-box effect small clean">
					<div class="icon">
						<a href="#"><i class="fa fa-history"></i></a>
					</div>
					<h3>60 days money back guranty!</h3>
					<p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end: DELIVERY INFO -->


</div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
