



{% block body %}

<div>


		<!-- wydarzenia - patronat -->
		<section id="section3">
            <div class="container ">
			<div class="heading text-left">
				<hr>
				<h5>PATRONATY SPORT&BUSINESS </h5>
				<hr>
			</div>
				<div class="row flexcss">
			
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DJtB7ao8P/5/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<a href="{{ path('sportbiz2018') }}"><h4>Dni Biznesu w Sporcie</h4></a>  
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
							
							<p>
							 II edycja Kongresu 590 obfitowała w podsumowania dotychczasowych działań i zapowiedzi następnych kroków, które pomogą uwolnić potencjał polskiej gospodarki.
							 </p>						
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<hr>
						</div>
						<div>
							<h4>Sportbiz forum sportu i biznesu</h4>
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
						
							<p>
							 9 stycznia 2018 roku w Warszawie odbędzie się VIII Kongres Podatków i Rachunkowości KPMG – największe tego typu wydarzenie w Polsce, dedykowane przedstawicielom kadry zarządzającej.
							</p>					
						</div>
					</div>
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DynRASXPS/7/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px; ">
							<hr>
						</div>
						<div>
							<h4>Go activ show</h4>
							
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">TARGI</span>
							
							<p>
							Inspirujące warsztaty, całodzienne debaty, międzynarodowy networking i promocja polskiego rynku kapitałowego. Już po raz drugi w budynku Giełdy Papierów Wartościowych w Warszawie odbędzie się wyjątkowe spotkanie.
							</p>		
								
						</div>
					</div>
					
					<div class="col-md-3 box">
						<div>
							<img src="https://static.hbrp.pl/f/book/P2d67kSaq/DgZQ4XpqV/3/cover_thumb.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Jakość w Sporcie</h4>
							<span>12.10.2018</span>
							<span>|</span>
							<span class="kategoria">KONFERENCJA</span>
						
							<p>
							 W dniach 10-12 listopada 2017 r. w Łodzi odbędzie się największy w Polsce zjazd firm rodzinnych.
							</p>						
						</div>
					</div>
				</div>
			</div>
		</section>
	

		
</div>
<!-- end: Wrapper -->



{% endblock %}
	