{#{{ (status) }}#}
{{ dump(response.results[31].productBundleItems) }}
{% for product in response.results  %}
    {#Tu można zrobić casy jeśli relation .type = np wywiad to #}
    {{ product.productDescriptionsLangData[0].productName }}
    <img src="{{ product.productIcon.productIconSmallUrl }}">
    <img src="{{ product.productIcon.productIconLargeUrl }}">
    <a href="{{ path('addtocart',{'id': product.productId}) }}">Kup</a>
    <br>
{% endfor %}

{#{{ response }}#}