{% extends 'base.html.twig' %}

{% block body %}

<div>

       


  
     <!-- Content -->
    <section id="page-content">
            <div class="container">

				

                <div class="row m-b-40">
                    <div class="col-md-12 center">
                        <div class="project-description">
                            <h2>SPORTBIZ Forum</h2>
                            <h3>
							Forum SPORTBIZ to wydarzenie, które w znaczący sposób wpływa na rozwój, profesjonalizacje oraz integracje branży sportu i biznesu w Polsce. 
							Konferencja jest unikatową platformą wymiany wiedzy między specjalistami z zakresu marketingu sportowego. 
							Podczas jednodniowej konferencji uczestncy mieli okazję wziąć udział w 16 prelekcjach prowadzonych przez zagranicznych oraz polskich prelegentów, 
							którzy są specjalistami z zakresu marketingu sportowego na świecie. 
							</h3>
                        </div>

                        <div class="portfolio-attributes">
                            <div class="attribute"><strong>Miejsce:</strong>Warszawa</div>
                            <div class="attribute"><strong>Data:</strong> 22-03-2016 </div>
                            <div class="attribute"><strong>Typ:</strong> Konferencja, networking, targi</div>
                        </div>
                    </div>
                </div>
				
				<hr class="space">

			

				<div class="row flexcss">
			
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/01.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/02.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/03.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/04.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/05.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/06.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					
		</div>
    </section>
	
	

            <div class="call-to-action " style="margin-top: 20px;margin-bottom: 0px; height: 250px; background-image:url(images/parallax/7.jpg)">
				<div class="container">
					<div class="row flexcss">
						<h2>banner</h2>
					</div>
				</div>
			</div>
  
	
	
    <section id="page-content">
        <div class="container">
			<div class="row flexcss">
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/07.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
						<div class="text-right">
							<i class="fa fa-play"></i>
							<i class="fa fa-play"></i>
							<i class="fa fa-play"></i>
						</div>
					</div>
					
					
					
					
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/08.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
						<div class="text-right">
							<i class="fa fa-play"></i>
						</div>
					</div>
					
					
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/09.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
						<div class="text-right">
							<i class="fa fa-play"></i>
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/10.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/11.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="images/sb360/sb2018/12.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Crowdsourcing w biznesie: najpierw strategia, potem platforma </h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Reralcja z wydarzenia</h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					<div class="col-md-4 box" style="margin-bottom: 47px;">
						<div>
							<img src="" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
							<hr>
						</div>
						<div>
							<h4>Marketingowe trendy w marketingu sportowy na 2018</h4>
							
							<span class="kategoria">TECHNOLOGIE  </span>
							<span>| INTERNET, STRATEGIA |</span>
							<span>Bartosz Filip Malinowski</span>
							<p>
							
							 Coraz więcej przedsiębiorstw decyduje się stosować crowdsourcing, ale w większości przypadków wysiłek sprowadza się do budowy kosztownej platformy internetowej. Dlaczego to za mało?
							 </p>		
								
						</div>
					</div>
					
					
					
			</div>
		</div>
    </section>

	


</div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


{% endblock %}
