{% extends 'base.html.twig' %}
{% block body %}
    {#{% if error %}#}
        {#<div class="alert alert-danger">#}
            {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
        {#</div>#}
    {#{% endif %}#}

    {#<form action="{{ path('security_login') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}


    {#If you want to control the URL the user#}
    {#is redirected to on success (more details below)#}
    {#<input type="hidden" name="_target_path" value="/account" />#}


    {#<button type="submit">login</button>#}
    {#</form>#}

    {{ form_start(form) }}
    {#{{ form_row(form.email, {'': true}) }}#}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-success">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}